ul#books {
  list-style: none;
  width: 25%;
}

li {
  padding: 15px 0;
  align-items: baseline;
}

ul#books li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

p {
  margin: 0;
}

.headline {
  font-size: 1.25rem;
}

.mint-bottom-border {
  border-bottom: 4px solid #78c2ad;
}

.float-right {
  float: right;
}

.empty {
  border: 1px solid #f3969a !important;
}

#add-new-book-sec,
#contact-sec {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
}